{% extends "./base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}


<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="h2 fw-bold">General Terms and Conditions</h1>
                <p class="lead text-muted">Welcome to the CosPrinter website. The following terms and conditions govern your access to and use of the website.
                </p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Create an account</a>
                </p>
            </div>
        </div>
    </section>


    <div class="l-inner">
        <p>THESE TERMS AFFECT YOUR LEGAL RIGHTS AND OBLIGATIONS.
            PLEASE READ THEM CAREFULLY BEFORE USING THE SERVICES OF CosPrinter.</p>
        <p>Terms and conditions to use CosPrinter’s website and its
            services are set forth in six documents:</p>
        <p>1. General Terms and Conditions</p>
        <p>2. 3D Projects Terms</p>
        <p>3. Wildcat Terms</p>
        <p>4. Privacy Policy</p>
        <p>5. Content Policy</p>
        <p>6. Refund Policy</p>
        <h2>DEFINITIONS</h2>
        <p>1. Buyer –</p>
        <p>a) A Member, who purchases Products or downloads
            Products that are available free of charge from the Site;</p>
        <p>b) A Member, who requests for a Product under the 3D PROJECTS
            section.</p>
        <p>2. CosPrinter – UAB CosPrinter, Company code 302935696,
            Address - Antakalnio st. 3, Vilnius, Lithuania, the data of the company stored
            at the Legal Person’s register of the Republic of Lithuania.</p>
        <p>3. Content – any material published at the Site
            including but not limited to wire files, models, textures, plugins, video
            games, video game modifications, motion files, collections, packages,
            materials, scripts, shapes, custom UI skins, tutorials, frequently asked
            questions, words, music, films, images, software, code and any other
            information.</p>
        <p>4. Contract – an agreement between Designer and Buyer according
            to which the Designer promises to create the Buyer a Product for a pre-agreed
            fee.</p>
        <p>5. Designer - a Member, who acts as a taxable person and in the course of its economic activity accepts
            a project under the 3D PROJECTS section of the Site and enters into an
            agreement with the Buyer to create a Product or a Member who joins Designer
            Partnership area under the Wildcat Terms.</p>
        <p>6. General Terms – this General Terms and Conditions
            in its entirety and including all terms and (or) information, accessible via
            any links, provided in this document.</p>
        <p>7. Incorporated Product – Product that cannot be
            extracted from an application or other product and used as stand-alone object
            without the use of reverse engineering tools or techniques. For avoidance of
            doubt, Incorporated Product is such use of a Product that does not allow further
            distribution of the Product outside of the application or product containing
            the Incorporated Product.</p>
        <p>8. Member – any person who creates a user account at
            the Site.</p>
        <p>9. Product –</p>
        <p>a) Any Content, uploaded by a Seller to the Product
            section of the Site and thus offered by the Seller to the potential Buyers for
            purchase or free download;</p>
        <p>b) Content created by the Designer for the purpose of
            fulfilling the obligations arising from the Contract between Designer and
            Buyer.</p>
        <p>10. Seller – a Member, who acts as a taxable person and
            in the course of its economic activity uploads Products to the Product section of the Site and
            offers them for sale or free download.</p>
        <p>11. Site – cosPrinter.com website.</p>
        <p>12. 3D Projects Terms – terms and conditions for 3D Projects
            services, provided by Designers to Buyers, available <a
                href="https://www.cosPrinter.com/pages/3d-projects-agreement">here</a>.</p>
        <p>13. Wildcat Terms – terms and conditions for Wildcat
            Project services, provided by Partnered Designers (as defined in Wildcat Terms)
            to CosPrinter, available <a href="https://www.cosPrinter.com/pages/wildcat-terms-and-conditions">here</a>. </p>
        <p>14. Content Policy – intellectual property policy of
            cosPrinter.com website, available <a href="https://www.cosPrinter.com/pages/cosPrinter-content-policy">here</a>.
        </p>
        <p>15. Privacy Policy – collection and process of
            personal data, available <a href="https://www.cosPrinter.com/pages/privacy-policy">here</a>.</p>
        <p>16. Refund Policy – marketplace refund policy, available <a
                href="https://www.cosPrinter.com/pages/refund-policy" style="background-color:initial;">here</a>.</p>
        <h2>GENERAL TERMS OF USE OF THE SITE</h2>
        <h3>1. License to Use This Site</h3>
        <p>1.1. This agreement will become effective upon
            Creating Account and will remain in effect for the duration of your Account. To
            register for an Account, you must be and hereby represent that you are a legal
            entity or an individual 18 years or older who can form legally binding
            contracts. When Buyer makes a purchase without creating an account (guest
            check-out), the Agreement becomes effective and binding upon completion of the
            sale.</p>
        <p>1.2. This Site is protected by copyright law and
            international treaty. You are allowed to use the Site for your personal, non-commercial
            internal use only, unless specifically licensed to do otherwise by CosPrinter or
            unless it is expressly indicated otherwise.</p>
        <p>This right to use this Site constitutes a license, not
            a transfer of title, and you may not nor permit anyone else to:</p>
        <p>- modify the Site or use it for any commercial purpose
            or public display, performance, sale or rental;</p>
        <p>- de-compile, reverse engineer, or disassemble, modify
            the Site, create derivative works based on the information, published on the
            Site;</p>
        <p>- remove any copyright or other CosPrinter proprietary
            notices;</p>
        <p>- mine, hack, spider, or survey the Site;</p>
        <p>- copy any proprietary information or ideas from the
            Site;</p>
        <p>- transmit spam, bulk or unsolicited communications;</p>
        <p>- pretend to be CosPrinter or someone else, or spoof
            CosPrinter or someone else's identity or spoof the Site;</p>
        <p>- forge headers or otherwise manipulate identifiers
            (including URLs) in order to disguise the origin of any Content, published on
            the Site;</p>
        <p>- misrepresent your affiliation with a person or
            entity;</p>
        <p>- disrupt the normal flow of dialogue or otherwise act
            in a manner that negatively affects other Site users' ability to use the Site;</p>
        <p>- engage in activities that would violate any
            fiduciary relationship, any applicable local, national or international law, or
            any regulations having the force of law, including but not limited to
            attempting to compromise the security of any networked account or site,
            operating an illegal lottery or gambling operation, stalking, or making threats
            of harm;</p>
        <p>- collect or store personal data about other users
            unless specifically authorized by such users;</p>
        <p>- collect or store Site data for any other purpose
            except as explicitly allowed herein.</p>
        <p>1.3. You agree to prevent any violations of these
            General Terms, including the licensing terms for the Site. Any violation of these
            General Terms, 3D Projects Terms, Wildcat Terms, or Content Policy can lead to
            account cancellation and a revocation of all licenses.</p>
        <h3>2. Site Ownership</h3>
        <p>2.1. All information on the Site is copyrighted
            proprietary material of CosPrinter and (or) Members and may not be copied,
            reproduced, modified, published, uploaded, posted, transmitted, or distributed
            in any way, without CosPrinter's prior permission. Except as expressly provided
            herein, CosPrinter and its suppliers do not grant any express or implied right to
            you under any patents, registered design, copyrights, trademarks, or trade
            secret information of CosPrinter.</p>
        <p>CosPrinter’s logos, slogans trademarks whether
            registered or unregistered may not be used without CosPrinter’s specific written
            consent to do so.</p>
        <h3>3. Members</h3>
        <p>3.1. In consideration of your use of the Site, you
            agree to:</p>
        <p>- provide accurate, current, and complete Member
            account information about you as may be prompted by the registration and/or
            login form on the Site (the "Registration Data");</p>
        <p>- maintain the security of your password and
            identification;</p>
        <p>- maintain and promptly update the Registration Data,
            and any information you provide to CosPrinter, to keep it accurate, current and
            complete;</p>
        <p>- accept all risks of unauthorized access to
            information and Registration Data. You have sole responsibility for adequate
            protection and backup of data and/or equipment used in connection with the
            Site.</p>
        <p>3.2. You are responsible for all activity that takes
            place under your Member user ID. It is your responsibility to maintain the
            confidentiality of your user ID and password.</p>
        <p>3.3. By signing up to this Site you agree to register
            using a valid email address that you are entitled to use and that is not hosted
            by any temporary email service.</p>
        <p>3.4. CosPrinter may provide interactive areas (such as
            blogs, forums etc.) the content of which are not confidential. Members should
            exercise the utmost discretion before providing any personal information on
            these interactive areas of the Site. Users of interactive areas are solely
            responsible for the content and consequences of anything they post. CosPrinter
            will have no liability for content and consequences of such postings.</p>
        <p>3.5. You acknowledge that your uploaded Products will
            be rated by other Members of the Site. You agree to allow your reputation score
            to be shown in your account profile.</p>
        <p>3.6. CosPrinter may terminate or deactivate the membership of any person or entity for any reason at any time
            without notice. Within 30 days after deactivation of your account, you may submit a motivated request to
            review CosPrinter’s decision. Your membership will be reinstated if CosPrinter finds your request justified.
            Deactivation becomes final and the membership is automatically terminated if CosPrinter rejects your request,
            or, if you do not submit such request, upon expiry of the 30 days term. If your membership is terminated by
            CosPrinter for a breach of these General Terms, in addition to its other rights at law or in equity, you shall
            pay a fine to CosPrinter equal to all royalties payable to you hereunder, and CosPrinter shall have the right to
            set-off such fine against all payable royalties. Membership termination applies to all and any accounts of
            the person or entity, including accounts created after the membership termination, which will be deactivated
            without further notice.</p>
        <p>3.7. This Site may not be accessed or used by any
            person, entity or group that have been designated for sanctions under the
            economic sanctions laws, regulations and orders taken by the European Union,
            the United States and other countries. Your access and use of the Site
            constitutes your express representation that you are not subject to any trade
            sanction or embargo, including, but not limited to, by virtue of your
            designation for sanctions and inclusion on: (i) the Specially Designated
            Nationals List maintained by the U.S. Department of the Treasury, Office of
            Foreign Assets Control; (ii) any list of persons, entities and bodies subject
            to restrictive measures implemented by the European Union; or (iii) any UN
            Security Council resolution identifying sanctioned or restricted parties. You
            shall be fully liable to the full extent of the law for any violations of this
            paragraph, and you hereby agree to defend, indemnify and hold CosPrinter harmless
            from and against any and all such damages and liability.</p>
        <p>3.8. Keep all the internal communication with other
            CosPrinter members inside this Site and do not ask or share contact details.</p>
        <h3>4. Uploading and Posting Content</h3>
        <p>4.1. You are entirely responsible for all Content that
            you upload, post or otherwise transmit via the Site. You agree not to upload,
            post or otherwise transmit via the Site any Content that:</p>
        <p>- is inaccurate, harmful, obscene, pornographic,
            defamatory, racist, violent, offensive, harassing, or otherwise objectionable
            to CosPrinter or other users of the Site;</p>
        <p>- is printable 3D models, which are replicas or realistic depictions of weapons;</p>
        <p>- includes unauthorized disclosure of personal
            information and data. This includes any images of a human being.</p>
        <p>- violates or infringes anyone's intellectual property
            rights;</p>
        <p>- contains software viruses or any other computer
            code, files or programs designed to interrupt, destroy or limit the
            functionality of any computer software or hardware or telecommunications
            equipment;</p>
        <p>- contains unauthorized third-party commercial
            advertisements.</p>
        <p>4.2. CosPrinter reserves the right to edit or remove
            Content that violates the aforementioned terms.</p>
        <p>4.3. You agree that all Content posted on the Site
            forums shall be free to use or disseminate on an unrestricted basis for any
            purpose, and you grant CosPrinter and all other users of the Site an irrevocable,
            worldwide, royalty-free, nonexclusive license to use, reproduce, modify,
            distribute, transmit, display, perform, adapt, resell and publish such Content
            (including in digital form). You represent and warrant that you have proper
            authorization for the worldwide transfer and processing of any information that
            you may provide on the Site.</p>
        <p>4.4. CosPrinter does not claim ownership of the Content
            you place on the Site and shall have no obligation of any kind with respect to
            such Content. Any Content you provide in connection with this Site shall be
            deemed to be provided on a non-confidential basis.</p>
        <h3>5. Determining and Changing Type of Content</h3>
        <p>5.1. CosPrinter retains the right, in its sole and
            absolute discretion, to monitor, edit, prohibit, or remove any Content, at any
            time, without prior notice, for any reason. This right of CosPrinter shall in no
            context be interpreted as CosPrinter’s obligation to monitor the accuracy and
            quality of the Content.</p>
        <p>5.2. CosPrinter implements and maintains business
            practices of categorizing Content in various categories (such as “Most
            Popular”, “Best Quality”, “Top Sales” etc.) in order to maximize customer
            satisfaction and sales. By accepting this General Terms the Seller hereby
            grants the right to CosPrinter to perform such Content categorization upon
            CosPrinter’s own judgment.</p>
        <h3>6. Privacy and Security</h3>
        <p>CosPrinter takes privacy very seriously and shall never
            sell, share, or otherwise disclose any of your personal information to anyone.
            Information that is collected upon sign up is used only to enhance your
            experience on the Site and for troubleshooting purposes. The principles of the
            personal data process are set forth in <a href="https://www.cosPrinter.com/pages/privacy-policy">Privacy
                Policy</a>.</p>
        <h3>7. Termination of this License</h3>
        <p>7.1. CosPrinter may unilaterally terminate this license
            for the use of the Site at any time, without any prior notifications, if you
            are in breach of any of these terms and conditions of use, as judged in the
            sole discretion of CosPrinter. Termination of this license is in addition to the
            other rights and legal remedies available to CosPrinter and those rights are
            reserved. Upon such termination you must immediately destroy all information
            that you acquired from the Site.</p>
        <h3>8. Notifications</h3>
        <p>All CosPrinter’s notifications shall be sent to your
            notifications section under your profile dashboard ( <a
                href="https://www.cosPrinter.com/profile/dashboard/notifications">here</a>) or via email at the
            address you provided to CosPrinter when you created your account or as later
            updated. You hereby agree and acknowledge that CosPrinter shall notify you using
            either of aforementioned notification means at its own discretion and is not responsible
            to notify you in any other way.</p>
        <h3>9. Contests and Promotions</h3>
        <p>Any contests or promotions created by CosPrinter on the
            Site may be governed by its own set of official rules, which may have
            eligibility requirements, such as certain age or geographic area restrictions.
            By entering or participating in such contests, you will become subject to those
            official rules. It is your responsibility to read the applicable rules to
            determine whether or not your participation, registration or entry will be
            valid or restricted, and to determine the sponsor's requirements.</p>
        <h3>10. Survival</h3>
        <p>After General Terms, 3D Projects Terms or Wildcat
            terms terminate, the terms of these agreements that expressly or by their
            nature contemplate performance after the agreement terminates or expires will
            survive and continue in full force and effect. For example, the provisions
            protecting confidential information, protecting intellectual property,
            indemnification, payment of fees and setting forth limitations of liability
            each, by their nature, contemplate performance or observance after this
            agreement terminates.</p>
        <h2>WARRANTIES AND LIABILITY</h2>
        <h3>11. General Information</h3>
        <p>11.1. This section contains important information
            regarding the liability of CosPrinter that every Member should read carefully
            and, if necessary, with the appropriate assistance of his legal advisor.</p>
        <p>11.2. CosPrinter’s Site is a forum for exchange of
            Product licenses between the Seller and the Buyer or the Designer and the
            Buyer. CosPrinter merely offers a platform for either Sellers to sell their
            Product or the Buyers to find a Designer for the desired Product. Thus CosPrinter
            cannot and shall not provide any warranty and accept any liability for any
            Product and (or) other Content. The Members are solely and exclusively liable
            for all Products and other Content that that they upload, download and (or)
            otherwise provide or acquire to or from the Site. As CosPrinter cannot guarantee
            that the Content you download or access via the Site is problem-free, our
            liability to you is limited, as described below. You are also agreeing to
            indemnify us. We cannot provide a warranty for the Product/Content hosted on
            this site. </p>
        <h3>12. Indemnification</h3>
        <p>You agree to indemnify, defend and hold harmless
            CosPrinter, its affiliates, and their respective officers, shareholders,
            partners, representatives, agents and employees from any and all liability,
            loss, damages, claim and expense, including reasonable attorney's fees, related
            to or arising from your violation of General Terms, 3D Projects Terms or
            Wildcat terms, your use or misuse of the Site and (or) Content, or any
            infringement of any intellectual property or other right as a result of the of
            Content or your use or provision of the Content. We reserve the right to assume
            the exclusive defense and control of any matter subject to indemnification by
            you, in which you will cooperate with us in asserting any available defenses.</p>
        <h3>13. Limitation of Liability</h3>
        <p>In no event shall CosPrinter or any of its affiliates,
            or their respective officers, shareholders, partners, representatives, agents
            and employees be liable for any direct, indirect, punitive, special,
            incidental, exemplary or consequential damages or any damages whatsoever
            (including without limitation, damages for loss of use, data, information,
            profits or business interruption) arising out of or in any way related to the
            use or performance of this Site or any linked web site or to any Content or
            other material obtained through this Site, or otherwise arising out your
            inability to use this Site or any decision made or action taken by you in
            reliance of any information, advice or materials on this Site, whether such
            damages are based in tort, contract, negligence, strict liability or otherwise,
            even if CosPrinter has been advised of the possibility of such damages. Your sole
            and exclusive remedy is to discontinue your access to and use of the Site, even
            if this remedy fails of its essential purpose. As some jurisdictions do not
            allow the exclusion or limitation of liability to a certain extent, some of the
            above exclusions or limitations may not apply to you.</p>
        <h3>14. No Warranty</h3>
        <p>14.1. Being only a forum for exchange of Products’
            licenses, CosPrinter has no control over the quality or legality of any Content
            on this Site or the accuracy of any related information. It is your full
            responsibility to ensure and evaluate the quality and legality of any Content
            and its use. You agree that CosPrinter shall have no liability for any
            misrepresentation, incomplete statement or failure to disclose any Content
            data, or for any claims arising from a transaction resulting from your use of
            the Site or a business transaction you enter into using the Site. </p>
        <p>14.2. CosPrinter makes all commercially reasonable
            efforts to ensure that all material, information and data on this Site are
            accurate and reliable; however, accuracy cannot be guaranteed.</p>
        <p>14.3. This Site is provided by CosPrinter on an “as is”
            basis. CosPrinter makes no warranties with respect to this site, and disclaims
            all applicable warranties, express or implied, including without limitation all
            implied warranties of merchantability, fitness for a particular purpose, title
            and non-infringement for the Site and all Content and any warranties arising
            from course of dealing or usage in trade. CosPrinter makes no warranty or
            representation regarding results that may be obtained from use of this site, or
            use of material, information or data downloaded or otherwise obtained from this
            Site, or regarding the accuracy or reliability of any information obtained from
            this Site. CosPrinter does not warrant or guarantee the accuracy, completeness,
            correctness, timeliness, or usefulness of this Site or any Content or other
            material, obtained through use of this Site or that use of this site or any
            product/content on this Site will meet any requirement, be uninterrupted,
            timely, secure or error-free. CosPrinter shall have no responsibility for the
            timeliness, deletion, misdelivery or failure to store any user communication.</p>
        <p>14.4. By accepting this General Terms you acknowledge
            and agree that your use of this Site and (or) Content is at your own discretion
            and risk, and that you are solely responsible for any damage that results from
            the download and use of any Content.</p>
        <p>14.5. CosPrinter does not warrant or guarantee that
            Content or other materials and information available through this Site will be
            free of infections, viruses, worms, Trojan horses or other code that could be
            harmful to your computer system. You should take all reasonable appropriate
            precautions against such code and (or) software.</p>
        <p>14.6. CosPrinter is not liable to users and Members of
            this Site for any damage resulting from use of this Site or use of Content
            obtained from this Site, and is not in any way responsible for the conduct of
            users or Members of this Site or for Content posted or exchanged on this Site.</p>
        <p>14.7. No advice or information, whether oral or
            written, obtained by you from CosPrinter or in any manner from this Site shall
            create any warranty.</p>
        <p>14.8. Because Content is delivered via the Internet,
            there may be some circumstances where the delivery of Content is delayed. In no
            event will CosPrinter be liable for any delays in delivery or performance caused
            by your failure to provide necessary and accurate information in a timely
            manner, or caused by circumstances or causes beyond CosPrinter’s reasonable
            control.</p>
        <h3>15. Third-Party Web Sites</h3>
        <p>This Site may link to, or be linked to, other web
            sites not maintained by or related to CosPrinter. These links are provided only
            as a service to our users and Members. CosPrinter is not, directly or indirectly,
            implying any approval, association, sponsorship, endorsement or affiliation
            with any linked or linking web site. CosPrinter has not reviewed all third party
            web sites and is not responsible for their content, accuracy, or policies. If
            you link to or retrieve any other pages or web sites it is at your own risk.</p>
        <h3>16. Other Terms</h3>
        <p>16.1. CosPrinter reserves the right at any time to
            modify, suspend or terminate the services (or any part thereof) provided at the
            Site, and/or your use of or access to them, with or without notice. CosPrinter
            may also delete, or bar access to or use of, all related information and files.
            CosPrinter will not be liable to you or any third-party for any modification,
            suspension, or termination of the Services, or loss of related information.
            CosPrinter may amend General Terms, 3D Projects Terms, Wildcat terms, Privacy
            Policy and Content Policy at any time without notice, as all terms and
            conditions will be posted on this URL and should be consulted by you prior to
            use.</p>
        <p>16.2. The laws of Lithuania govern General Terms, 3D Projects
            Terms of Use, Wildcat terms, Privacy Policy and Content Policy as well as any
            other terms of the Site without regard to any choice of laws or conflicts of
            law provisions. You agree that any lawsuit arising from or related this Site,
            General Terms, 3D Projects Terms, Wildcat terms, Privacy Policy or Content
            Policy shall be brought exclusively in courts located in Vilnius, Republic of
            Lithuania and you consent to the exclusive jurisdiction of such courts. The
            United Nations Convention for the International Sale of Goods does not apply to
            this agreement.</p>
        <p>16.3. If any provision of this General Terms, 3D Projects
            Terms, Wildcat terms, Privacy Policy or Content Policy is held invalid, void,
            or for any reason unenforceable, that provision shall be severed and the
            remaining condition will remain in force to the fullest extent provided by law.</p>
        <p>16.4. Any waiver of any portion of General Terms or 3D
            Projects Terms, Wildcat terms will be effective only if in writing and signed
            by an authorized officer of CosPrinter. This is the entire agreement applicable
            to Content and your use of the Site.</p>
        <p>16.5. No partnership, joint venture,
            employer-employee, or franchiser-franchisee relationship is intended or created
            by General Terms, 3D Projects Terms or Wildcat terms.</p>
        <h2>TERMS OF USE REGARDING SELLING 3D MODELS AND 3D PRINTING MODELS</h2>
        <h3>17. Applicability</h3>
        <p>17.1 By uploading a Product on the Site and offering
            them for Sale or free download, the Seller accepts the terms herein. By
            purchasing or downloading Products on the Site, the Buyer accepts the terms
            herein.</p>
        <p>17.2 These terms apply in conjunction with General
            Terms. The following terms do not apply to Products created under the 3D PROJECTS
            section or WILDCAT section.</p>
        <h2>MEMBER‘S RIGHTS, OBLIGATIONS AND REPRESENTATIONS</h2>
        <h3>18. Rights, Obligations and Representations of the Seller</h3>
        <p>18.1. Members may only upload Content they own or
            otherwise have the right to use and upload. CosPrinter does not own any Content
            uploaded by Members.</p>
        <p>18.2. By uploading a Product, the Seller shall be
            deemed to represent that such Product and use of this Product permitted by
            General Terms does not infringe the intellectual property of any other party
            and that the Seller had obtained all necessary model or property releases for
            use and licensing of the Product. All Members should consult their own legal
            advisors to determine whether a particular model or property release form and
            (or) any applicable contract is suitable or necessary for uploading particular
            Product or for a particular use of a Product, or whether such use is a fair
            use. Sellers should understand that licenses of Product without a release
            attached may be negatively impacted, if a release is deemed necessary by Buyers
            or their legal advisors.</p>
        <p>18.3. Sellers may not upload Product or add Content
            that violates any international or domestic law, statute, ordinance, or
            regulation. Content cannot be defamatory, libelous, pornographic, obscene,
            offensive or evocative of racial hatred of any kind, and cannot contain any
            viruses, spam, malware or other programming routines that detrimentally
            interfere with computer systems or data.</p>
        <p>18.4. Sellers should keep a backup of their own
            uploaded Products at all times. Sellers’ files uploaded to the Site cannot be
            used as a backup source.</p>
        <p>18.5. For any Product/Content uploaded to the Site or
            otherwise submitted to CosPrinter, the Seller grants and represents that he has
            the authority to grant to CosPrinter a non-exclusive, worldwide, royalty-free,
            license in any medium now known or hereinafter invented to:</p>
        <p>- reproduce, sell, and distribute net proceeds from
            any sale, in whole or in part on Seller’s behalf;</p>
        <p>- to publicly perform, publicly display, digitally
            perform, or transmit for promotional and commercial purposes;</p>
        <p>- create and use samples of the Product for the
            purpose of advertising, demonstrating or promoting Seller products or services
            or those of CosPrinter;</p>
        <p>- use the Products for the purposes of researching,
            creating, developing and testing new CosPrinter's tools, technologies or methods
            related to 3D modeling (including, without limitation, automated recognition,
            conversion or other processing of 3D models), which may be developed by
            CosPrinter or with the help of its subcontractors. The Seller explicitly agrees
            that any such technologies, tools, software, data bases, their developments,
            modifications or improvements shall exclusively belong to CosPrinter to the full
            extent possible;</p>
        <p>- use any trademarks, service marks or trade names
            incorporated in the Product in connection with Seller material;</p>
        <p>- use the name and likeness of any individuals
            represented in the Product in connection with Your material.</p>
        <p>All of the aforementioned license rights shall be used
            by CosPrinter exclusively to ensure proper administration and promotion of the
            Site.</p>
        <p>18.6. Seller retains ownership of the copyrights and
            all other rights in the Product, uploaded to the Site, subject to the
            non-exclusive rights granted to the CosPrinter and the Buyer. Seller is free to
            grant similar rights to others during and after the term of this General Terms.</p>
        <p>18.7. By uploading a Product to the Site, the Seller
            represents and warrants that:</p>
        <p>- the Product is his original work, and contains no
            copyrighted material of any kind that Seller is not the exclusive owner of,
            including but not limited to: music and/or synchronization rights, images
            (moving or still) of any kind, writings of any kind, and model
            clearances/releases;</p>
        <p>- Seller has full right and power to enter into and
            perform this agreement, and have secured all third party consents necessary to
            enter into this agreement;</p>
        <p>- the Product does not and will not infringe on any
            third party's copyright, patent, trademark, trade secret or other proprietary
            rights, rights of publicity or privacy, or moral rights;</p>
        <p>- the Product does not and will not violate any law,
            statute, ordinance or regulation;</p>
        <p>- the Product is not and will not be defamatory,
            libelous, pornographic, obscene or evocative of racial hatred of any kind;</p>
        <p>- the Product does not and will not contain any
            viruses or other programming routines that detrimentally interfere with
            computer systems or data;</p>
        <p>- the Product does not contain any material that, as a
            condition of use, requires additional license restrictions such as requiring
            the publication of source code or Product that limits commercial exploitation
            of Incorporated Product;</p>
        <p>- all factual assertions that Seller has made and will
            make are true and complete. Seller agrees to execute and deliver documents to
            CosPrinter and (or) Buyer, upon their reasonable request, that evidence or
            effectuate their rights under this agreement.</p>
        <p>18.8. If you accept the “Sell via partners” option by
            checking the checkbox in the Seller dashboard, the Seller Products can be then
            sold via CosPrinter partner websites under the same terms and conditions as
            outlined herein. CosPrinter will be able to choose the partners at its sole
            discretion.</p>
        <p>18.9.The Seller provides CosPrinter’s partners the same
            license rights as to CosPrinter in order for his or her Products to be sold on
            partner’s website.</p>
        <p>18.10. CosPrinter may also offer and sell Seller
            Products to CosPrinter partners who intend to buy Products from the Site in bulk
            and who may or may not be registered Members of the Site. In that case Seller
            agrees that CosPrinter may allow its partners to receive copies of the Products strictly
            for verification or testing purposes. If CosPrinter agrees sale of the Products
            to such partners, CosPrinter may manually complete process of purchase at the
            Site required to effect the Sale of Products so that they are accounted as sold
            and applicable fees are calculated and attributed to the Seller at the Site.
            Each sale to the partner will always be made as an individual sale to one
            partner only, i.e. one sale transaction may not be completed for multiple
            partners.</p>
        <h3>19. Rights, obligations and representations of the Buyer</h3>
        <p>19.1. The Buyer may not use the Product, downloaded
            from this site in a manner that infringes the intellectual property of any
            other party. The Buyer may not reverse engineer any Product and must abide by
            the terms of the license granted to the Buyer under this General Terms, as well
            as any additional Seller terms included with the Product.</p>
        <p>19.2. The Buyer may not perform automated mass download (crawling)
            technique for gaining access to Products which are offered as a free download.
            The Buyer may not use Products which are offered as a free download for
            machine learning or training neural networks purposes.</p>
        <p>19.3. Following the payment of any applicable license
            fee for any Product, the Buyer may download the Product from the Site and use
            it in accordance to the applicable license terms. The Buyer must ensure that
            any use of the Product is compliant with all applicable laws and regulations
            and does not infringe upon the rights of third parties, including any
            intellectual property rights.</p>
        <p>19.4. Prior to concluding the contract the Buyer shall
            give express content of waiving his or her 14-day right of withdrawal regarding
            the digital content (the Product).</p>
        <p>19.5. When Buyer intends to order and buy products in
            bulk, CosPrinter may help Buyer manually complete the process of purchase at the
            Siterequired to effect the Sale
            of Products (e.g. to add Products to shopping cart in bulk).</p>
        <h2>TERMS OF LICENSE AGREEMENT BETWEEN THE SELLER, CosPrinter AND THE BUYER</h2>
        <h3>20.General Terms of Licensing</h3>
        <p>20.1. Following the payment of any applicable license
            fee for Product, the Buyer acquires a license in accordance with the terms and
            conditions of this section. Any license rights relating to the Product are
            contingent upon the transfer of money (except for the free Products) from the
            Buyer to CosPrinter. All license rights terminate immediately and without notice
            if a sale is reversed for any reason.</p>
        <p>20.2. Upon uploading the Product to the Site, the
            Seller shall indicate the terms of license, upon which a respective Product is
            licensed to the Buyer. If the Seller does not indicate any licensing conditions
            in his posting, terms of Royalty Free license (see section 21 “Royalty Free
            License”) shall be applicable.</p>
        <p>20.3. Certain Products with third party copyrighted or
            trademarked images, logos, brand names, etc., may require additional licensing,
            rights, permissions, releases, or clearance for use. It is the sole
            responsibility of the Buyer and their legal advisor to determine, before
            purchasing, downloading or using any Product, whether additional licensing,
            rights, permissions, releases, or clearance are necessary for the intended use
            of Product. It is the Buyer’s sole responsibility to obtain any licensing,
            rights, permissions, or clearance. Buyers should understand additional
            licensing, rights, permissions, releases, or clearance may be relevant for
            Product, if the intended use involves religious groups or affiliations,
            pharmaceuticals, health care, tobacco, liquor, adult entertainment, personal
            hygiene, birth control, or any other area that could be considered sensitive,
            offensive, or immoral.</p>
        <p>20.4. Buyers do not own any Product and are only
            licensed to use it in accordance with terms and conditions of the applicable
            license. Unless explicitly provided for in custom license terms set forth in
            the special area “Custom license terms” provided by CosPrinter in the Product
            description section of the Site, the Seller retains copyright in Products
            purchased or downloaded by any Buyer.</p>
        <p>20.5. The license to use the Product is non-exclusive, non-transferable and is granted only to the original
            Buyer.</p>
        <p>20.6. Any Product, returned to CosPrinter and (or) the
            Seller in accordance with applicable law for whatever reason must be destroyed
            by the Buyer immediately. The license to use any Product is revoked at the time
            Product is returned. Product obtained by means of theft or fraudulent activity
            of any kind is not granted a license.</p>
        <p>20.7. By using the Site and (or) accepting this
            agreement the Seller agrees that any additional end user license agreements,
            licenses, custom licenses, or Seller requirements inserted into Seller Products
            in any area outside that explicitly provided by CosPrinter for additional license
            terms are invalid, void ab initio, and without effect as they relate to those
            purchases made on the Site.</p>
        <p>20.8. Nothing in this agreement shall be construed to
            mean that a Seller may not submit or delete Content from the material submitted
            by such Seller as part of general maintenance of such Seller’s account.</p>
        <h3>21.Royalty Free License</h3>
        <p>21.1. Product may not be sold, given, or assigned to another person or entity in the form it is downloaded
            from the Site or in 3D printed physical form. Product may not be used to create visual content, such as
            scenes, videos, or designs, which are published or sold through other stock media clearinghouses, unless it
            meets Incorporated Product criteria and it does not play a key role in the visual content.</p>
        <p>21.2. The Buyer’s license to Product in this paragraph is strictly limited to Incorporated Product. Any use
            or republication, including sale or distribution of Product that is not Incorporated Product is strictly
            prohibited. For illustration, approved distribution or use of Product as Incorporated Product includes, but
            is not limited to:</p>
        <p>- as rendered still images or moving images; resold as part of a feature film, broadcast, or stock
            photography;</p>
        <p>- as purchased by a game’s creators as part of a game if the Product is contained inside a proprietary format
            and displays inside the game during play, but not for users to re-package as goods distributed or sold
            inside a virtual world;</p>
        <p>- as purchased by creators of virtual worlds, metaverses, applications or platforms (including, but not
            limited to, social media platforms) if Product is provided to users of such virtual worlds, metaverses,
            applications or platforms to create embedded content and distribute, modify, publicly perform, or display
            such embedded content, provided that a) Product is not downloadable by users of such virtual worlds,
            metaverses, applications or platforms in the form in which it is downloaded from the Site and b) Product is
            not re-packaged as goods sold inside a virtual world, metaverse, application or platform;</p>
        <p>- as Product published within a book, poster, t-shirt or other item;</p>
        <p>- as part of a physical object such as a toy, doll, or model.</p>
        <p>21.3. If you use any Product in software products (such as video games, simulations, or VR-worlds) you must
            take all commercially reasonable measures to prevent the end user from gaining access to the Product.
            Methods of safeguarding the Product include but are not limited to:</p>
        <p>- using a proprietary disc format such as Xbox 360, Playstation 3, etc.;</p>
        <p>- using a proprietary Product format;</p>
        <p>- using a proprietary and/or password protected database or resource file that stores the Product data;</p>
        <p>- encrypting the Product data.</p>
        <p>21.4. Without prejudice to sub paragraphs 21.1-21.3, the Seller grants to the Buyer who purchases license
            rights to Product and uses it solely as Incorporated Product a non-exclusive, worldwide, license in any
            medium now known or hereinafter invented to:</p>
        <p>- reproduce, post, promote, license, sell, publicly perform, publicly display, digitally perform, or transmit
            for promotional and commercial purposes;</p>
        <p>- use any trademarks, service marks or trade names incorporated in the Product in connection with Seller
            material;</p>
        <p>- use the name and likeness of any individuals represented in the Product only in connection with Your
            material.</p>
        <p>21.5. Absent a written grant of rights greater than that contained in section 21 “Royalty Free License”, all
            other rights or sub-divisions of rights generally included in copyright are excluded from this license and
            remain the property of Seller.</p>
        <p>21.6. The resale or redistribution by the Buyer of any Product, obtained from the Site is expressly
            prohibited unless it is an Incorporated Product as licensed above.</p>
        <h3>22. Editorial License</h3>
        <p>22.1. In addition to the restrictions that are
            applicable to the Royalty Free License, certain Products may be marked
            “editorial” or “editorial license” and has additional license restrictions.</p>
        <p>22.2. Buyer’s may only use Products marked “editorial”
            or “editorial license” for legitimate, editorial purposes on some issue of
            journalistic, editorial, cultural or otherwise newsworthy value. Examples of
            editorial use/fair use may include illustrating issues of general interest,
            social commentary, reporting news, etc. Editorial uses include use of the
            Product in a news program, news-related website, or news-related video media.
            The Buyer understands and agrees that such Products may contain material that
            is not released from its rights holders.</p>
        <h3>23. Custom License</h3>
        <p>Terms of the Custom License shall be deemed applicable
            if and only if the Seller provides additional license terms in the specific
            area of Product description – “Custom license terms”. Such additional license
            terms shall be applied and interpreted as additions and (or) exceptions to the
            terms and conditions, set forth in section 20. “General Terms of Licensing” and
            section 21. “Royalty Free License”.</p>
        <h3>24. License for Products that are offered for free download</h3>
        <p>A Product which is offered as a free download shall be licensed with the applicable license as chosen by the
            Seller.</p>
        <h3>25. Process of purchases and payments</h3>
        <p>25.1. CosPrinter is not a party to the Product purchase agreement but facilitates interaction between Buyer and
            Seller by providing the marketplace platform available at the Site. Irrespective of any previous
            relationship, and for the avoidance of doubt, any decision to purchase a Product and arrange for payment of
            the same shall be done by Buyer alone, and acting in a principal capacity, and in respect of such CosPrinter
            undertakes no fiduciary, implied, or otherwise further duties or functions on behalf of the Buyer. Receipt
            of order(s) and payment(s) by CosPrinter shall constitute satisfaction of the Buyer’s obligations with respect
            to such under these General Terms.</p>
        <p>25.2. CosPrinter’s role, to the extent it acts on behalf Buyer and/or Seller under these General Terms, if at
            all, is limited strictly to the functions of accepting and transmitting orders and accepting payment as
            detailed in the General Terms and do not extend to any duties beyond what is set out therein. CosPrinter
            undertakes no fiduciary, implied, or otherwise further duties or functions other than those detailed in the
            General Terms, and both Buyer and Seller agree to such, authorise CosPrinter to act in such a role, and to
            indemnify CosPrinter for any loss associated therewith accordingly.</p>
        <p>25.3. Seller authorizes CosPrinter to collect money from
            the Buyer and distribute payment amounts to Seller, tax authorities, or other
            entities as the case requires under this agreement and in compliance with legal
            regulations.</p>
        <p>25.4.Buyer may chose any payment method supported by
            the Site for the purchased Products at the time of sale. Buyer may cover up to
            30 % of payment by applying CosPrinter Loyalty Credits to the purchase price.
            Buyer may also make a prepayment to CosPrinter. In this case Buyer will be
            granted a promotional code with a value of the prepayment and will be able to
            cover up to 100 % of payment by applying a
            promotional code. Promotional code can be applied to multiple payments
            and it will reduce in value after each payment. </p>
        <p>25.5. Every calendar month by the twentieth (20) day,
            or the following business day if the twentieth is weekend or holiday, CosPrinter
            will pay the Seller its royalty payments according to Seller’s reputation level
            at the moment of purchase (see 4 part of this chapter to find a list of
            reputation levels).</p>
        <p>25.6. CosPrinter reserves the right to withhold payments
            in the following cases:</p>
        <p>- the amount is below the minimum allowed for a
            monthly royalty payment (which is $200), unless the Seller has chosen Paypal as
            his or her transfer method;</p>
        <p>- Seller’s payments are on hold because previous
            payment to Seller failed to be received;</p>
        <p>- Seller has provided inaccurate payment information;</p>
        <p>- there is violation of Site policies that must be
            reconciled before any payment is made.</p>
        <p>25.7. CosPrinter reputation levels and royalty rates
            paid for in particular level are the following:</p>
        <table>
            <tbody>
                <tr>
                    <td>Level # </td>
                    <td>Level Name </td>
                    <td>Reputation Points </td>
                    <td>Reached Royalty Rate </td>
                </tr>
                <tr>
                    <td>1 </td>
                    <td>Beginner </td>
                    <td>0 </td>
                    <td>70% </td>
                </tr>
                <tr>
                    <td>2 </td>
                    <td>Explorer </td>
                    <td>100 </td>
                    <td>71% </td>
                </tr>
                <tr>
                    <td>3 </td>
                    <td>Modeling Enthusiast </td>
                    <td>250 </td>
                    <td>71% </td>
                </tr>
                <tr>
                    <td>4 </td>
                    <td>Ambitious Geek </td>
                    <td>500 </td>
                    <td>72% </td>
                </tr>
                <tr>
                    <td>5 </td>
                    <td>Rising Star </td>
                    <td>1000 </td>
                    <td>72% </td>
                </tr>
                <tr>
                    <td>6 </td>
                    <td>Polygon Expert </td>
                    <td>2000 </td>
                    <td>73% </td>
                </tr>
                <tr>
                    <td>7 </td>
                    <td>Talented Maker </td>
                    <td>4000 </td>
                    <td>74% </td>
                </tr>
                <tr>
                    <td>8 </td>
                    <td>3D Master </td>
                    <td>7000 </td>
                    <td>75% </td>
                </tr>
                <tr>
                    <td>9 </td>
                    <td>Leading Artist </td>
                    <td>11000 </td>
                    <td>76% </td>
                </tr>
                <tr>
                    <td>10 </td>
                    <td>Top Designer </td>
                    <td>15000 </td>
                    <td>77% </td>
                </tr>
                <tr>
                    <td>11 </td>
                    <td>Genius </td>
                    <td>20000 </td>
                    <td>78% </td>
                </tr>
                <tr>
                    <td>12 </td>
                    <td>Superstar </td>
                    <td>30000 </td>
                    <td>79% </td>
                </tr>
                <tr>
                    <td>13 </td>
                    <td>Legend </td>
                    <td>40000 </td>
                    <td>80% </td>
                </tr>
            </tbody>
        </table>
        <p><br>The Parties agree
            that the Reached Royalty Rate defined in this paragraph shall be final; the Reached Royalty
            Rate shall include all taxes and other charges (including VAT, where
            applicable) that shall be due in accordance with the applicable laws. The Seller may decide to reduce its
            Royalty Rate to a certain percent in relation to certain Products for charity purposes. In that case,
            CosPrinter will dedicate its earnings from the amount of reduction of the Royalty Rates to the charity and pay
            out directly the amounts to the charity organisations.</p>
        <p>25.8. CosPrinter provides each Seller detailed sales information including:</p>
        <p>- Price of the purchase</p>
        <p>- Buyer information (including country of residence)</p>
        <p>- Taxes charged</p>
        <p>- Royalty rate at the moment of purchase</p>
        <p>25.9. CosPrinter will calculate and pay royalties to Sellers / Designers after withholding taxes on royalties
            if such obligation is foreseen for CosPrinter in Lithuanian tax Laws.</p>
        <p>25.10. If a user is from a location where end buyer pays taxes at the point of purchase (known as Value added
            tax (VAT), Goods and services tax (GST) or Sales tax) CosPrinter will detect buyer’s location and charge tax
            which is applied in particular location. Taxes will be deducted from the purchase price and transmitted to
            local tax authorities. CosPrinter will calculate and pay royalties to Sellers after deduction of taxes.</p>
        <p>25.11. If a purchase is reversed after you have been paid or if for any reason CosPrinter has already paid to
            you in excess of the correct royalty payment, you acknowledge that such overpayment is due from you to
            CosPrinter and authorize CosPrinter to deduct from your future payments. If you discover or become aware of
            overpayment, you agree to notify CosPrinter of such occurrence and settle it accordingly.</p>
        <p>25.12. By accepting these Terms and Conditions Designer confirms that he/she acts as taxable person for the
            purpose of VAT and agrees that self-billing invoice for the purchased products shall be issued by CosPrinter
            under the terms and conditions of applicable laws. However, the parties remain to be solely responsible for
            determining whether it is required by applicable law to issue any other formal document and pay any other
            taxes that might apply to them. CosPrinter takes no responsibility for determining the necessity of or for
            issuing any other formal document (except self-billing invoice) or for determining, remitting, or
            withholding any taxes applicable to paid fees, except for the VAT, GST or Sales tax and other taxes
            (withholding tax on royalties) that CosPrinter is obliged to pay in accordance with applicable Law.</p>
    </div>
</main>
{% endblock %}